In [11]:
import requests
import pandas as pd

from datetime import datetime as dt

In [23]:
url = "http://127.0.0.1:8001/housing"
params = {
    "City":"Tanger",
    "end":"latest",
    "price_max":5000000,
    "price_min":3000000
}
start_ = dt.now().second
response = requests.get(url,params)
end_ = dt.now().second
data = pd.DataFrame(response.json())
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,date,city
0,4853699,4333,2,1,1,yes,no,yes,no,no,1,no,unfurnished,2025-12-20T22:45:15.333769,Tanger
1,3335884,4365,5,2,1,yes,no,no,no,yes,0,no,furnished,2025-12-20T23:00:15.333769,Rabat
2,4285378,3754,2,1,2,no,no,yes,no,no,1,yes,unfurnished,2025-12-20T22:29:15.333769,Tanger
3,4000091,4500,3,2,2,yes,yes,yes,no,no,2,no,furnished,2025-12-20T22:33:15.333769,Casablanca
4,3529687,4387,3,1,2,yes,no,no,no,no,2,no,unfurnished,2025-12-20T22:26:15.333769,Casablanca

In [25]:
data.price.max()

np.int64(4898392)